.site-footer {
	background-color: #bc4927;
	color: white;
	padding: 2em;

	a {
		color: white;
	}

	.site-info {
	}

	.site-credits {
		text-align: right;
	}

	@media (min-width: 40em) {
		display: flex;
		justify-content: space-between;
	}
}
