@import "../1-molecules/menu-toggle.scss";
@import "../1-molecules/sub-menu-toggle.scss";

:root {
	--menu-toggle-color: #bc4927;
	--menu-toggle-radius: 0.125em;
}

.primary-navigation {
	position: fixed;
	top: 4em;
	bottom: 0;
	left: -32em;
	width: 32em;
	max-width: 100vw;
	padding: 4em 0;
	z-index: 999;
	overflow-y: auto;

	background-color: #333;
	transition: left 0.3s ease;

	&.toggled {
		left: 0;
	}

	a {
		color: white;
		font-size: 1.5em;
		margin: 0;
		padding: 0.5em 1em;
		display: block;
		transition: color 0.3s ease;
	}

	button {
		box-shadow: none;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	ul {
		@extend %unstyled-list;
	}

	li {
		display: block;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	.children li:last-child {
		border-bottom: 1px solid transparent;
	}

	a {
		display: block;
		color: white;
	}

	.children {
		display: none;
	}
}

// @media (min-width: 1400px) {
// 	.primary-navigation {
// 		ul {
// 			@extend %container;

// 			display: flex;
// 			justify-content: flex-end;
// 			padding-top: 1em;
// 			padding-bottom: 1em;
// 		}
// 	}
// }
