@import "../0-atoms/fitted-image.scss";
@import "../1-molecules/slick-slider.scss";

.workshop-slider {
	--slide-box-width: 48rem;

	background-image: url("../../images/flower-bg-saturated.jpg");
	background-color: #bc4927;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	box-shadow: inset 0 0 1em rgba(black, 0.25);
	font-size: 1em;
	max-width: 100%;
	overflow: hidden;
	padding: 4em 1em 2em;

	.slick-list {
		box-shadow: 0 0 1em rgba(black, 0.25);
		max-width: var(--slide-box-width);
		margin: 0 auto;
	}

	.slide {
		background-color: #ead5be;
		padding: 1em;

		img {
			display: block;
		}

		h3,
		h4 {
			color: #bc4927;
		}
	}

	.slide-image {
		@extend %fitted-image;
	}

	.slick-arrow {
		top: 1rem;
		right: 2rem;
		left: auto;
		transform: none;
	}

	.slick-arrow.slick-prev {
		right: 4rem;
	}

	.slick-dots {
		position: absolute;
		top: 1rem;
		right: 1rem;
		left: auto;
		bottom: auto;
		width: auto;
		z-index: 1;
	}
	li button {
		background-color: #fff;
		border-radius: 50%;
		opacity: 0.35;
		transition: opacity 0.3s ease;
	}

	li button:before {
		content: none;
	}

	.slick-dots li.slick-active button,
	.slick-dots li:hover button {
		opacity: 1;
	}

	@media (max-width: 639px) {
		.slick-arrow {
			top: 2rem;
			right: 1rem;
			left: auto;

			&.slick-prev {
				right: 3rem;
			}
		}
	}

	@media (min-width: 640px) {
		padding: 4em 2em;

		--slick-button-pos: calc(calc(100% - var(--slide-box-width)) / 2 - 2rem);

		.slick-prev {
			left: var(--slick-button-pos);
		}

		.slick-next {
			right: var(--slick-button-pos);
		}

		.slide {
			padding: 2rem;

			h3,
			h4 {
				margin-top: 0;
			}
		}

		.slide-image {
			height: 28vh;
			width: 28vh;
			max-width: 50%;
			max-height: 350px;
			float: left;
			margin-right: 1em;
		}
	}
}
