.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

%clearfix {
	&::before,
	&::after {
		display: table;
		content: "";
		clear: both;
	}
}

%container {
	max-width: 74em;
	margin: 0 auto;
	padding: 2em;
}

%unstyled-list {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

%inline-menu {
	ul {
	}
	li {
		border-right: 1px solid white;
		display: inline-block;
		margin-left: -3px;
	}
	li:last-child {
		border-right: none;
	}
	a {
		display: block;
		padding: 0 1rem;
	}
}

%inline-menu-flex {
	ul {
		display: flex;
		flex-flow: wrap;
		border-right: 1px solid white;
	}
	li {
		border-left: 1px solid white;
		flex: 1 50%;
		font-size: 0.85rem;
		font-weight: 300;
		line-height: 2rem;
		padding: 0 0.5rem;
		text-align: center;
		text-transform: uppercase;
	}
	a {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.2;
	}
}

%sub-menu-toggle {
	@include sub-menu-toggle();
}

%section-title {
	background-color: theme-color();
	color: theme-color("light");
	padding: 1rem 1.5rem;
	position: relative;
	margin-bottom: 2rem;
	&::after {
		display: block;
		content: "";
		position: absolute;
		top: 100%;
		left: 2rem;
		border: 1rem solid;
		border-color: theme-color() transparent transparent;
	}
}

%btn {
	background: theme-color();
	border: 1px solid theme-color();
	border-radius: 0;
	color: theme-color("light");
	cursor: pointer;
	display: block;
	font-weight: 700;
	line-height: 1.2;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease;
	&:hover {
		background: white;
		color: #ed1556;
		text-decoration: none;
	}
}

%animation-fade-in {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 0.3s, opacity 0.3s ease;
}

%animation-fade-out {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

%menu-toggle {
	.menu-toggle {
	}

	.menu {
		visibility: hidden;
		max-height: 0;
	}

	&.toggled .menu {
		visibility: visible;
		max-height: 100em;
	}
}
