/*
Theme Name: Mindful
Theme URI: https://www.greengraphics.com.au
Author: Step
Author URI: https://www.greengraphics.com.au
Description: The best.
Version: 1.0.1
Text Domain: mindful
*/

body {
	background-color: #f5eee6;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.workshop-slider {
	font-size: 1em;
}

.primary-navigation {
	background-color: rgba(189, 70, 40, 0.9);
	width: 100%;
	left: -100%;
}

.primary-navigation a {
	text-align: center;
	text-decoration: none;
}

.primary-navigation a .primary-navigation a:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: #bd4a28;
	text-decoration: none;
}

.site-content .page-content {
	max-width: 68em;
}

body.page-template-template-full .site-content .page-content {
	max-width: none;
}

.site-footer a {
	text-decoration: none;
}

.site-footer a:hover {
	text-decoration: underline;
}
