.calls-to-action {
	background-color: rgba(#bc4927, 0.8);
	color: white;

	@media (min-width: 728px) {
		display: flex;
		width: 100%;
	}

	h2 {
		text-align: center;
		margin: 0;
		text-shadow: 1px 1px 1px rgba(black, 0.5);
	}

	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		display: block;
		padding: 10vh 2em;
	}

	.action {
		flex: 1 240px;
		box-shadow: inset 0 0 0 rgba(black, 0.25);
		transition: box-shadow 0.3s ease;
		background-image: url("~/../images/mountain.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		display: flex;

		a {
			margin: auto;
		}

		&:nth-of-type(2n) {
			background-image: url("~/../images/flower-bg.jpg");
		}

		&:nth-of-type(3n) {
			background-image: url("~/../images/tree.jpg");
		}

		&:hover {
			box-shadow: inset 0 0 1em rgba(black, 0.25);
		}
	}
}
