:root {
	--menu-toggle-color: black;
	--menu-toggle-radius: 0;
	--toggle-height: 1.5em;
	--toggle-width: 2em;
	--toggle-bar-height: calc(var(--toggle-height) / 5);
}

.menu-toggle {
	background-color: transparent;
	border: 1px solid transparent;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	padding: 0.5em;
	display: flex;
	align-items: center;
	font-size: 1em;
	line-height: 1;
}

.menu-toggle:focus {
	outline: none;
	border: 1px dashed rgba(0, 0, 0, 0.25);
}

.menu-toggle:active,
.menu-toggle:hover {
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.125);
}

.menu-toggle .text {
	font-size: var(--toggle-height);
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 0.5em;
}

.menu-toggle-box {
	width: var(--toggle-width);
	height: var(--toggle-height);
	display: inline-block;
	position: relative;
}
.menu-toggle-inner {
	display: block;
	top: 50%;
	margin-top: calc(-1 * (var(--toggle-bar-height) / 2));
	transition-duration: 0.1s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle.toggled .menu-toggle-inner {
	transform: rotate(45deg);
	transition-delay: 0.14s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-toggle-inner,
.menu-toggle-inner::before,
.menu-toggle-inner::after {
	width: var(--toggle-width);
	height: var(--toggle-bar-height);
	background-color: var(--menu-toggle-color);
	border-radius: var(--menu-toggle-radius);
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.menu-toggle-inner::before,
.menu-toggle-inner::after {
	content: "";
	display: block;
}
.menu-toggle-inner::before {
	transition: top 0.1s 0.14s ease, opacity 0.1s ease;
	top: calc(-1 * (var(--toggle-bar-height) * 2));
}
.menu-toggle.toggled .menu-toggle-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.menu-toggle-inner::after {
	bottom: calc(-1 * (var(--toggle-bar-height) * 2));
	transition: bottom 0.1s 0.14s ease,
		transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle.toggled .menu-toggle-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition-property: bottom, transform;
	transition-duration: 0.1s, 0.1s, 0.1s;
	transition-timing-function: ease, cubic-bezier(0.215, 0.61, 0.355, 1),
		cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-delay: initial, 0.14s, 0.14s;
	transition: bottom 0.1s ease,
		transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
