@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/functions.scss";
@import "global/placeholders.scss";

@import "base/accessibility.scss";
@import "base/body.scss";
@import "base/typography.scss";
@import "base/media.scss";

:root {
	--primary-color: #bc4927;
	--secondary-color: #ead5be;
}

// Atoms
.button {
	display: inline-block;
	border: 2px solid var(--primary-color);
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: 700;
	padding: 0.5em 1em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	margin-right: 0.5em;

	&:visited {
		color: var(--primary-color);
	}
	&:hover {
		background-color: var(--primary-color);
		color: white;
	}
}

// Molecules
@import "./1-molecules/menu-toggle.scss";
@import "./1-molecules/calls-to-action.scss";

// Organisms
@import "./2-organisms/primary-navigation.scss";
@import "./2-organisms/footer.scss";

#page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.site-branding {
	@extend %container;

	padding: 4em 1em 1em;
	position: relative;

	.menu-toggle {
		position: absolute;
		top: 1em;
		right: 1em;
		z-index: 1;
	}

	@media (min-width: 40em) {
		display: flex;
		padding: 2em;

		.site-title {
			flex: 1 auto;
			max-width: 30em;
		}

		.menu-toggle {
			margin-left: auto;
			margin-top: auto;
			margin-bottom: auto;
			position: static;
		}
	}

	@media (orientation: landscape) and (max-height: 40em) {
		.site-title {
			max-width: 20em;
		}
	}
}

.site-title {
	margin: 0;
	font-size: 1rem;
	text-align: center;

	a,
	img {
		display: block;
		width: 100%;
	}

	@media (min-width: 40em) {
		margin-right: 0.5em;
	}
}

.site-content {
	overflow-x: hidden; // Fix slick-slider width issue.

	article {
		text-align: center;
		margin-bottom: 4em;

		&::before {
			content: "";
			display: block;
			height: 20vh;
			// width: 100vw;
			// margin-top: -2em;
			// margin-bottom: 4em;
			position: relative;

			left: 0;
			right: 0;

			z-index: 1;

			background-color: #bc4927;
			background-image: url("../images/orange-pattern-bg.jpg");
			background-repeat: repeat;
			background-position: center;
			background-size: cover;
			// background-attachment: fixed;
		}
	}

	.post-thumbnail {
		position: relative;
		z-index: 2;
		max-width: 16em;
		margin: -8em auto 2em;
	}

	.page-content {
		@extend %container;
	}
}

.page-title {
	color: #bc4927;
}

.site-content article {
}
