h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: droid-serif, serif;
	font-weight: bold;
}

a {
	color: #000;
	transition: color 0.3s ease, background 0.3s ease;

	&:visited,
	&:active {
		color: #141414;
	}

	&:hover {
		color: #282828;
	}
}
